.whatsapp-contact-bar {
    display: table;
    position: absolute;
    top: 0;
    width: 100%;
    height: 8.7%;
    background-color: #075e54;
    margin-top: 6.5%;
    text-align: center;

    .user-picture {
        width: 100%;
        border-radius: 50%;
        vertical-align: middle;
    }

    .user-data {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        font-family: @whatsapp-font;

        h1 {
            font-size: 1.1rem;
            font-weight: 500;
            color: #fff;
            letter-spacing: 0.5px;
            margin: 0 0 0 0.5rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: 0.9rem;
                margin: 0 0 0 0.3rem;
            }
            @media only screen and (max-width : 320px) {
                font-size: 0.7rem;
                margin: 0 0 0 0.3rem;
            }
        }

        h2 {
            font-size: 0.8rem;
            font-weight: 400;
            color: #eef4f4;
            letter-spacing: 0.5px;
            margin: 0.2rem 0 0 0.5rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: 0.6rem;
                margin: 0 0 0 0.3rem;
            }
            @media only screen and (max-width : 320px) {
                font-size: 0.4rem;
                margin: 0 0 0 0.3rem;
            }
        }
    }
}