@import "contact-bar";
@import "sprites";

.phone-screen-content {
    background: #ede9e4;
    background: -webkit-linear-gradient(top,#ede9e4 0%,#ede9e4 20%,#e5ddd5 100%);
    background: linear-gradient(to bottom,#ede9e4 0%,#ede9e4 20%,#e5ddd5 100%);
}

.phone-bar {
    background-color: #054d44;
}

.whatsapp-background {
    position: relative;
    background: url('../images/background.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 167%;
    opacity: 0.3;
}

.align-vertical {
    display: table-cell;
    top: 50%;
    .transform(translateY(-50%));

    & > div,
    & > span {
        vertical-align: middle;
    }
}

@whatsapp-message-bar-desired-height: 65;
@whatsapp-message-bar-height: 100% * @whatsapp-message-bar-desired-height / @phone-screen-base-width;

.whatsapp-message-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: @whatsapp-message-bar-height;
}

.whatsapp-chat-container {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: @phone-bar-height + @whatsapp-contact-bar-height;
    padding-bottom: 100% * (1 + @phone-screen-base-height - @whatsapp-message-bar-desired-height - @phone-bar-desired-height - @whatsapp-contact-bar-desired-height) / @phone-screen-base-width;
}