@whatsapp-message-bar-desired-height: 65;
@whatsapp-message-bar-height: 100% * @whatsapp-message-bar-desired-height / @phone-screen-base-width;

@whatsapp-input-desired-height: 48;
@whatsapp-input-height: 100% * @whatsapp-input-desired-height / @phone-screen-base-width;

.whatsapp-message-bar {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    padding-top: @whatsapp-message-bar-height;

    .whatsapp-input-container {
        position: absolute;
        width: 100%;

        @margin: 100% * 8 / @phone-screen-base-width;
        .whatsapp-message-input {
            @right-margin: @whatsapp-input-height + @margin * 2;

            position: relative;
            padding-bottom: @whatsapp-input-height;
            margin: 0 @right-margin 0 @margin;
            background-color: #fff;
            border-radius: 8px;
            .box-shadow(0 0 6px 0 rgba(50,50,50,0.2));

            @media only screen and (max-width : 480px) {
                border-radius: 5px;
            }

            @smiley-width: 7%;
            @smiley-margin: 4%;
            @smiley-total-width: (@smiley-margin * 2 + @smiley-width);
            .whatsapp-sprites {
                position: absolute;
                top: 50%;
                .transform(translateY(-50%));
                width: @smiley-width;
                padding-bottom: @smiley-width;
                margin: 0 @smiley-margin;

                &.smiley {
                    left: 0;
                }

                &.camera {
                    right: 0;
                }
            }

            input {
                position: absolute;
                top: 50%;
                .transform(translateY(-50%));
                border: 0;
                padding: 0;
                /* Leave space for smiley icon to the left */
                margin: 0 0 0 @smiley-total-width;
                font-family: @whatsapp-font;
                font-size: 1.1em;
                color: #cccccc;
                background-color: #fff;
                /* Take into account camera and mic icons to the right */
                width: 100% - @smiley-total-width - @right-margin - @margin;

                &:focus {
                    outline: none;
                }
            }
        }

        .whatsapp-rec-button {
            position: absolute;
            top: 0;
            right: 0;
            width: @whatsapp-input-height;
            padding-bottom: @whatsapp-input-height;
            margin-right: @margin;
            border-radius: 50%;
            background-color: #00897b;
            .box-shadow(0 2px 4px -1px rgba(50,50,50,0.4));
        }
    }
}