.whatsapp-sprites {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    padding-bottom: 60%;
    @sprites-tot: 7;
    .make-sprites('../images/sprites.png', @sprites-tot);

    &.arrow-left {
        .get-sprite(0, @sprites-tot);
    }

    &.phone {
        .get-sprite(1, @sprites-tot);
    }

    &.attachment {
        .get-sprite(2, @sprites-tot);
    }

    &.menu {
        .get-sprite(3, @sprites-tot);
    }

    &.microphone {
        .get-sprite(4, @sprites-tot);
    }

    &.smiley {
        .get-sprite(5, @sprites-tot);
    }

    &.camera {
        .get-sprite(6, @sprites-tot);
    }
}