.phone-container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: @whatsapp-font;
}

.phone-top {
    background: url('../images/htc-top.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 100% * (141 / 800);
}

.phone-center {
    position: relative;
    background: url('../images/htc-center.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 100% * (1290 / 800);
    height: 100%;
}

.phone-bottom {
    background: url('../images/htc-bottom.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 100% * (235 / 800);
}

/* Variables for proportion calculations and such... */
@actual-screen-width-percentage: 0.963;
@phone-screen-base-width: 400 * @actual-screen-width-percentage;
@phone-screen-base-height: 645;

.phone-screen-content {
    position: absolute;
    top: 0;
    left: -3px;
    width: 100% * @actual-screen-width-percentage;
    height: 100%;
    margin: 0 2.25%;
}

@phone-bar-desired-height: 25;
@phone-bar-height: 100% * (@phone-bar-desired-height / @phone-screen-base-width);

.phone-bar {
    display: table;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: right;
    padding-bottom: @phone-bar-height;
}

.phone-icons-container {
    position: absolute;
    right: 0;
    width: 100%;
}

.phone-sprites {
    display: inline-block;
    width: 100% * 15 / @phone-screen-base-width;
    max-width: 15px;
    padding-bottom: 100% * 15 / @phone-screen-base-width;
    @sprites-tot: 3;
    .make-sprites('../images/phone-sprites.png', @sprites-tot);

    &.connection {
        .get-sprite(0, @sprites-tot);
    }

    &.signal {
        .get-sprite(1, @sprites-tot);
    }

    &.battery {
        .get-sprite(2, @sprites-tot);
    }
}

#phone-battery-text,
#phone-time {
    color: #fff;
}

#phone-battery-text {
    margin-right: -4px;
}

#phone-time {
    margin-right: 0.4rem;
}

@media only screen and (max-width : 480px) {
    #phone-battery-text,
    #phone-time {
        font-size: 0.7rem;
    }
}